.header {
    background-color: var(--gray-700);
    display: flex;
    justify-content: center;
    padding: 2rem 0 3rem 0;
}

.form{
    display: flex;
    max-width: 70rem;
    margin: 0rem auto;
    position: relative;
    top: -2rem;
}
.form input{
    flex: 1;
    background-color: var(--gray-400);
    color: var(--white);
    border-radius: 8px;
    border: 0;
    padding: 1rem;
}
.form button{
    background-color: var(--blueDark);
    color: var(--white);
    border: 0;
    border-radius: 8px;
    margin-left: 0.5rem;
    padding: 1rem;
}
.form button:hover{
    background-color: var(--blue);
    cursor: pointer;
}